asgiref==3.8.1
astroid==3.2.1
colorama==0.4.6
dill==0.3.8
Django==5.0.6
django-taggit==5.0.1
isort==5.13.2
Markdown==3.6
mccabe==0.7.0
platformdirs==4.2.2
pylint==3.2.0
python-decouple==3.8
sqlparse==0.5.0
tomlkit==0.12.5
tzdata==2024.1
